{% extends "base.html" %}
{% block css %}
{{ super() }}
.toc {
    display: none;
}
.dark .toc a {
     color: #999;
}
.light .toc a {
     color: #555;
}

img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

@media (min-width: 1250px){
    .toc {
        position: fixed;
        top: 0;
        right: 0;
        max-width: 400px;
        display: block;
    }
    .toc-flex{
        flex-grow: 0;
        flex-shrink: 0;
        width: 400px;
    }
}
.codehilite {
    padding-top: 1px;
    padding-right: 10px;
    padding-bottom: 1px;
    padding-left: 10px;
    border-radius: 4px;
    margin-bottom: 20px;
}
li>code, p>code {
    padding: 2px;
    border-radius: 4px;
}
.dark p>code, .dark li>code {
    background: #2f1e2e;
}
.light p>codem .light li>code {
    background: #fdf6e3;
}
{% endblock %}
{% block extrahead %}
  <link rel="stylesheet" href="../styles/code-dark.css">
  <link rel="stylesheet" href="../styles/code-light.css">
{% endblock %}

{% block before_container %}
  <div class="toc">
    {% autoescape false %}
      {{toc}}
    {% endautoescape %}
  </div>
{% endblock %}


{% block main_content %}
  {% autoescape false %}
    {{post}}
  {% endautoescape %}
  {#
  <div class="tags">
    Posted under:
    {% for tag in tags %}
      <a href="/tags/{{tag}}">{{tag}}</a>
    {% endfor %}
  </div>
  #}
{% endblock %}

{% block after_content %}
  {% if toc %}
    <div class="toc-flex"></div>
  {% endif %}
{% endblock %}
