{% extends "post.html" %}
{% block main_content %}

<h2>About me</h2>

<p>
  Hi, I'm Radu Ciorba, and I'm a software developer. This blog is a place for me to collect and
  publish my thoughts.
</p>

<p>
  I've been using Python for over 10 years, on projects in various industries. I currently work at
  Hotjar. In the past I've worked on <a href="https://www.pbslearningmedia.org/">PBS Learning
  Media</a> as a software developer and technical lead, and have been part of
  the <a href="https://www.presslabs.com">Presslabs</a> team as an operations engineer and most
  recently at Bitdefender as part of the Android anti-malware team.
</p>

<p>

  I'm a believer in the value of open-source. You can see some of my own contributions on
  the <a href="/projects">projects</a> page, or on <a href="https://github.com/rciorba/">GitHub</a>
  and <a href="https://bitbucket.com/raduciorba/">Bitbucket</a>.

</p>

<p>

  If you want to contact me you can email me at radu [at] devrandom.ro or you can reach out to me
  on <a href="https://twitter.com/rciorba">twitter</a>.

</p>

<br/>
<h2>About this site</h2>

This site is self hosted, and includes no third party tracking. You can find
the <a href="https://github.com/rciorba/devrandom.ro/">source on GitHub</a>, altough I can't in good
faith recommend you use it over one of the many static site generators available, since it's just
something hacked together for my particular need.

The background pattern is copied from <a href="https://github.com/StylishThemes/GitHub-Dark">Github
Dark User Style (CC-A-SA)</a>.


{% endblock %}
