{% extends "post.html" %}
{% block main_content %}

    <h2>Slides from my talks</h2>
    <p>
      2018-06-20 <a href="./async/async.pdf">PyTim #4 - Async Python</a>
    </p>
    <p>
      2016-02-17 <a href="./infosec_dirty_cow/dirty_cow.pdf">InfosecTM #15 - Dirty COW</a>
    </p>
    <p>
      2016-02-17 <a href="./geekmeet22/borg.pdf">GeekMeet #22 - Missguided attempts at performance optimizations in Borg Backup.</a>
    </p>
    <p>
      2016-04-15 <a href="./2016-04-15-debian_ssl.pdf">InfoSecTM #10 - short presentation on the Debian SSL Fiasco.</a>
    </p>
    <p>
      2015-02-25 <a href="./2015-02-25-lm-growing-pains.pdf">PyTim #7 - Performance issues at Learning Media.</a>
    </p>
{% endblock %}