.dark .codehilite .hll { background-color: #4f424c }
.dark .codehilite  { background: #2f1e2e; color: #e7e9db }
.dark .codehilite .c { color: #776e71 } /* Comment */
.dark .codehilite .err { color: #ef6155 } /* Error */
.dark .codehilite .k { color: #815ba4 } /* Keyword */
.dark .codehilite .l { color: #f99b15 } /* Literal */
.dark .codehilite .n { color: #e7e9db } /* Name */
.dark .codehilite .o { color: #5bc4bf } /* Operator */
.dark .codehilite .p { color: #e7e9db } /* Punctuation */
.dark .codehilite .ch { color: #776e71 } /* Comment.Hashbang */
.dark .codehilite .cm { color: #776e71 } /* Comment.Multiline */
.dark .codehilite .cp { color: #776e71 } /* Comment.Preproc */
.dark .codehilite .cpf { color: #776e71 } /* Comment.PreprocFile */
.dark .codehilite .c1 { color: #776e71 } /* Comment.Single */
.dark .codehilite .cs { color: #776e71 } /* Comment.Special */
.dark .codehilite .gd { color: #ef6155 } /* Generic.Deleted */
.dark .codehilite .ge { font-style: italic } /* Generic.Emph */
.dark .codehilite .gh { color: #e7e9db; font-weight: bold } /* Generic.Heading */
.dark .codehilite .gi { color: #48b685 } /* Generic.Inserted */
.dark .codehilite .gp { color: #776e71; font-weight: bold } /* Generic.Prompt */
.dark .codehilite .gs { font-weight: bold } /* Generic.Strong */
.dark .codehilite .gu { color: #5bc4bf; font-weight: bold } /* Generic.Subheading */
.dark .codehilite .kc { color: #815ba4 } /* Keyword.Constant */
.dark .codehilite .kd { color: #815ba4 } /* Keyword.Declaration */
.dark .codehilite .kn { color: #5bc4bf } /* Keyword.Namespace */
.dark .codehilite .kp { color: #815ba4 } /* Keyword.Pseudo */
.dark .codehilite .kr { color: #815ba4 } /* Keyword.Reserved */
.dark .codehilite .kt { color: #fec418 } /* Keyword.Type */
.dark .codehilite .ld { color: #48b685 } /* Literal.Date */
.dark .codehilite .m { color: #f99b15 } /* Literal.Number */
.dark .codehilite .s { color: #48b685 } /* Literal.String */
.dark .codehilite .na { color: #06b6ef } /* Name.Attribute */
.dark .codehilite .nb { color: #e7e9db } /* Name.Builtin */
.dark .codehilite .nc { color: #fec418 } /* Name.Class */
.dark .codehilite .no { color: #ef6155 } /* Name.Constant */
.dark .codehilite .nd { color: #5bc4bf } /* Name.Decorator */
.dark .codehilite .ni { color: #e7e9db } /* Name.Entity */
.dark .codehilite .ne { color: #ef6155 } /* Name.Exception */
.dark .codehilite .nf { color: #06b6ef } /* Name.Function */
.dark .codehilite .nl { color: #e7e9db } /* Name.Label */
.dark .codehilite .nn { color: #fec418 } /* Name.Namespace */
.dark .codehilite .nx { color: #06b6ef } /* Name.Other */
.dark .codehilite .py { color: #e7e9db } /* Name.Property */
.dark .codehilite .nt { color: #5bc4bf } /* Name.Tag */
.dark .codehilite .nv { color: #ef6155 } /* Name.Variable */
.dark .codehilite .ow { color: #5bc4bf } /* Operator.Word */
.dark .codehilite .w { color: #e7e9db } /* Text.Whitespace */
.dark .codehilite .mb { color: #f99b15 } /* Literal.Number.Bin */
.dark .codehilite .mf { color: #f99b15 } /* Literal.Number.Float */
.dark .codehilite .mh { color: #f99b15 } /* Literal.Number.Hex */
.dark .codehilite .mi { color: #f99b15 } /* Literal.Number.Integer */
.dark .codehilite .mo { color: #f99b15 } /* Literal.Number.Oct */
.dark .codehilite .sa { color: #48b685 } /* Literal.String.Affix */
.dark .codehilite .sb { color: #48b685 } /* Literal.String.Backtick */
.dark .codehilite .sc { color: #e7e9db } /* Literal.String.Char */
.dark .codehilite .dl { color: #48b685 } /* Literal.String.Delimiter */
.dark .codehilite .sd { color: #776e71 } /* Literal.String.Doc */
.dark .codehilite .s2 { color: #48b685 } /* Literal.String.Double */
.dark .codehilite .se { color: #f99b15 } /* Literal.String.Escape */
.dark .codehilite .sh { color: #48b685 } /* Literal.String.Heredoc */
.dark .codehilite .si { color: #f99b15 } /* Literal.String.Interpol */
.dark .codehilite .sx { color: #48b685 } /* Literal.String.Other */
.dark .codehilite .sr { color: #48b685 } /* Literal.String.Regex */
.dark .codehilite .s1 { color: #48b685 } /* Literal.String.Single */
.dark .codehilite .ss { color: #48b685 } /* Literal.String.Symbol */
.dark .codehilite .bp { color: #e7e9db } /* Name.Builtin.Pseudo */
.dark .codehilite .fm { color: #06b6ef } /* Name.Function.Magic */
.dark .codehilite .vc { color: #ef6155 } /* Name.Variable.Class */
.dark .codehilite .vg { color: #ef6155 } /* Name.Variable.Global */
.dark .codehilite .vi { color: #ef6155 } /* Name.Variable.Instance */
.dark .codehilite .vm { color: #ef6155 } /* Name.Variable.Magic */
.dark .codehilite .il { color: #f99b15 } /* Literal.Number.Integer.Long */
